<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DesperateDevs.Analytics" version="0.0.0" targetFramework="net471" />
  <package id="DesperateDevs.CodeGeneration" version="0.0.0" targetFramework="net471" />
  <package id="DesperateDevs.CodeGeneration.CodeGenerator" version="0.0.0" targetFramework="net471" />
  <package id="DesperateDevs.Logging" version="0.0.0" targetFramework="net471" />
  <package id="DesperateDevs.Serialization" version="0.0.0" targetFramework="net471" />
  <package id="DesperateDevs.Utils" version="0.0.0" targetFramework="net471" />
  <package id="Entitas" version="1.13.0" targetFramework="net471" />
  <package id="Entitas.CodeGeneration.Attributes" version="1.13.0" targetFramework="net471" />
  <package id="Entitas.CodeGeneration.Plugins" version="1.13.0" targetFramework="net471" />
</packages>